/* Full-page background image */
.home-page .hero-background {
    height: 100vh;
   background: url('../bp.png') center/cover no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-content {
    margin-top: 20vh;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
  }
  